*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/pattern.png);
  background-size: auto;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div[class^="line"] {
  padding: 24px;
}

p {
  margin-top: 8px;
  text-align: center;
  color: aliceblue;
}

.resultbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.result {
  margin: 20px;
}

/* div {
    border: dashed 1px red;
  } */

.box {
  width: 332px;
  display: block;
  border-radius: 12px;
  background-color: rgb(30 26 30 / 63%);
  padding: 30px;
  text-align: left;

  box-shadow: 2px 2px 5px 2px rgb(39 40 40);
}

input,
select {
  display: inline-block;
  height: 38px;
  width: 182px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: solid 1px gray;
  padding-left: 8px;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 9%);

  /* vertical-align: middle; */
}

.icon {
  text-align: center;
  display: inline-block;
  width: 42px;
  height: 38px;
  background-color: #0d6efd;
  float: left;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 9px;
  color: aliceblue;
}

.input {
  display: inline-block;
  position: relative;
  left: -2px;
  float: left;
  font-size: 16px;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}

::placeholder {
  font-style: italic;
}

.line3 input {
  width: 92%;
  height: 43px;
  font-size: 14px;
  padding: 4px;
  border-radius: 6px;
  text-transform: uppercase;
  border: none;
  color: white;
}

#line4 {
  margin-top: 28px;
  text-align: center;
}

#line4 input {
  width: 79%;
  height: 43px;
  font-size: 21px;
  padding: 4px;
  border-radius: 6px;
  text-transform: uppercase;
}
#line4 p {
  margin: 2px;
  color: antiquewhite;
  font-size: 0.7em;
}

#helpme {
  color: #c7c7c7;
  position: absolute;
  right: 10px;
  top: 10px;
}

#quitme {
  color: #c7c7c7;
  position: absolute;
  left: 10px;
  top: 10px;
}

.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 332px;
  z-index: 100;
  color: black;
}

.pagination {
  justify-content: center;
}

table {
  margin: 0 auto;
  width: 360px;
}

td {
  border: #937a7a42 solid 1px;
  border-collapse: collapse;
  text-align: left;
}
th {
  background-color: #4caf50;
  color: #ffffff;
  text-align: center;
  padding: 0 5px;
}
td {
  color: #000000;
  padding: 2px 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
tr:hover {
  background-color: #dddddd;
}
#header {
  height: 48px;
}

.nano {
  padding: 2px;
  border-radius: 50%;
}

#comment {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

#back {
  position: absolute;
  left: 10px;
  top: 10px;
  text-decoration: none;
  color: #c7c7c7;
  font-size: 1.6em;
}

#back:hover {
  position: absolute;
  left: 10px;
  top: 10px;
  text-decoration: none;
  color: #ff0000;
  font-size: 1.6em;
}
